@import 'base';
@import '~normalize.css/normalize';
 
input::-webkit-calendar-picker-indicator {
  display: none;
}

.app-header {
    background-color: $nile-blue;
    z-index: 10;
}
 
nav .brand-logo {
   position: relative;
   width: 25%;
   vertical-align: 50%;
   color: $wild-sand;

   &.hidden {
      opacity: 0;
      top: 64px;
      transition: opacity 300ms, top 300ms ease-in;
      -webkit-transition: opacity 300ms, top 300ms ease-in; 
      -moz-transition: opacity 300ms, top 300ms ease-in;
      -ms-transition: opacity 300ms, top 300ms ease-in;  
    }
    &.display {
      top: 0;
      opacity: 1;
      transition: opacity 300ms 1.2s, top 300ms 1.2s ease-in;
      -webkit-transition: opacity 300ms 1.2s, top 300ms 1.2s ease-in;
      -moz-transition: opacity 300ms 1.2s, top 300ms 1.2s ease-in;
      -ms-transition: opacity 300ms 1.2s, top 300ms 1.2s ease-in; 
    }
    &.quick-display {
      top: 0;
      opacity: 1;
      transition: opacity 300ms, top 300ms ease-in;
      -webkit-transition: opacity 300ms, top 300ms ease-in;
      -moz-transition: opacity 300ms, top 300ms ease-in;
      -ms-transition: opacity 300ms, top 300ms ease-in;
    }
}
nav .brand-logo:before {
   content: "MusicOn";
}

@media only screen and (max-width: 992px)
{   
    nav .brand-logo {
        width: 20% !important;
        left: 11% !important;
        margin-right: 5%;
        display: inline-block;
    }
    nav .brand-logo:before {
        content: "" !important;
    }   
}

.material-icons {
    &.search-btn {
        cursor: pointer;
        position: relative;
        color: $wild-sand; 
        vertical-align: 50%;
      
        &.hidden {
            opacity: 0;
            top: 64px;
            transition:opacity 300ms, top 300ms ease-in;
            -webkit-transition: opacity 300ms, top 300ms ease-in;
            -moz-transition: opacity 300ms, top 300ms ease-in;
            -ms-transition: opacity 300ms, top 300ms ease-in;
         }

         &.quick-display {
            top: 0;
            opacity: 1;
            transition: opacity 300ms, top 300ms ease-in;
            -webkit-transition: opacity 300ms, top 300ms ease-in;
            -moz-transition: opacity 300ms, top 300ms ease-in;
            -ms-transition: opacity 300ms, top 300ms ease-in;
         }
         &.display {
            top: 0;
            opacity: 1;
            transition: opacity 300ms 1.2s, top 300ms 1.2s ease-in;
            -webkit-transition: opacity 300ms 1.2s, top 300ms 1.2s ease-in;
            -moz-transition: opacity 300ms 1.2s, top 300ms 1.2s ease-in;
            -ms-transition: opacity 300ms 1.2s, top 300ms 1.2s ease-in;
         }
    }
}