/* Player */
.no-height {
    height: 0 !important;
}

body, ul, ul li {
    padding:0px;
    margin:0px;
}

ul {
    list-style:none;
    height: 100%;
    width: 100%;
   background: #849ccf;   

}

ul li {
    display:inline-block;
    margin: 0 auto;
    height: 98%;
    margin-right: 5%;
    top: 0;
}

.player-container {
    /*background: rgba(59, 89, 152, 1);*/
    background: #849ccf;   
    //background: yellow;
    color: white; 
    padding: 0;
    height: inherit;
    width: inherit;
    position: absolute;
    margin: 0 auto;
    left: 0;
    bottom: 0; 
}

.player-cover {
    //float : left;
    position: relative;
    height: 98%;
    //display: inline-block;
    background-position: top center;
    background-size: cover;
    transition: height .4s;
}

.artist-info {

    margin: 0 auto;
    border: 0;
    top: 20%;
    position: absolute;
    width: inherit;
    height: 50%;

}

.artist-name,
.artist-song-name {
    color: white;
     margin: 0 auto;
    position: relative;
    //top: 66%;
    //height: 10%;
    //position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    //margin-top: 5px;
   // max-height: 80%;
    overflow: hidden;
    font-family: 'Oswald', sans-serif; margin-left: 5%;
    justify-content: center;
    align-items: center;
    //display: block;
    font-size: 1.2vmax;
}


.artist-song-name {
    margin-bottom: 4%;
}

.player-progress-container {
    position: relative;

    width: inherit;
    height: inherit;

    display: block;
   // width: 30%;
    margin: auto;
    //margin-top: 30px;
    margin-left: 2%;

    //background-color: #414141;
    background-color: #414141;

    border-radius: 10px;
}

.player-progress-value {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    background-color: #CDD2D8;
    border-radius: 40px;

    &:after {
        position: absolute;
        top: -3px;
        right: -6px;
        content: '';

        width: 9px;
        height: 9px;

        border-radius: 50%;
        background-color: #7748B5;
        box-shadow: rgba(0,0,0,.2) 0 0 5px 2px;
    }
}

.player-options {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 20px;
    width: 365px;
    margin: 0 auto;
}

.player-buttons {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 135px;
}

.player-btn {
    //display:inline-block;
    margin: 0 auto;
     color: #17233D;
    background-color: transparent;
    border: 0;
    top: 20%;
    position: absolute;

    height: inherit;
    border-radius: 50%;
    outline: 0;
    transition: all .4s;

    i {
        font-size: 28px;
        margin: 0 auto;
        margin-right: 2vw;
    }

    &.active{
        color: #b3b3b3;
    }

    &.big {
        width: 50px;
        height: 40%;

        i {
            font-size: 3vw;
        }
    }

    &.medium {
        width: 30px;
        height: 40%;

        i {
            font-size: 2vw;
        }
    }

    &.volume {
        width: 40px;
    }

    &:disabled {
        opacity: .5;
    }
}

.player-controls {
    width: 180px;

    .player-btn {
        color: #D9D9D9;

        background-color: #414141;
    }
}
