@mixin vertical-align($position: relative) {
  position: $position;
  top: 45%;
  -webkit-transform: translate(0, -55%);
  -ms-transform: translate(0, -55%);
  transform: translate(0, -55%);
}

button:active,
button:focus,
*:active,
*:focus  {
    -moz-outline-style: none; 
    outline-style: none;
    outline:0;
} 

.player-container {
    background: #4f6073;
    padding: 0;
    //display: flex;
    height: inherit;
    width: inherit;
    position: fixed;
    margin: 0 auto;
    left: 0;
    bottom: 0; 
}

.player-cover {
    float : left;
    position: relative;
    height: 75px;
    width: 86px;
    margin-right: 2vw;
    background-position: top center;
    background-size: cover;
    transition: height .4s;
}

.artist-container {
    display : flex; 
    flex: 1;
    width: 33vw;
}

.artist-info {

    margin: 0 auto;
    border: 0;
    top: 12%;
    position: absolute;
    width: inherit;
    height: 75%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.artist-name,
.artist-song-name {
    display: block;
    color:#f7f6f7;
    margin: 0 auto;
    position: relative;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    margin-left: 5%;
}

.artist-name {
    font-size: 10px;
}
.artist-song-name {
    font-size: 12px;
    margin-bottom: 4%;
}
 
.player-buttons {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 135px;
}

.player-btn {
   
   cursor: pointer;
   color: #f7f6f7;
   margin-right: 7%;

    &.active{
    color: #dfceba;
    }
   
    &.medium {
      font-size: 1.5em;
    }
    
    &.play {
        border-radius: 50%;
        width: 1.6em;
        line-height: 1.6em;
        text-align: center;
        font-size: 1.8em;
        background-color: #f7f6f7;
        color: #030b15;
    }
    
    &.skip {
        vertical-align : top;
    }
    &.volume {
        width: 40px;
    }

    &:disabled {
        opacity: .5;
    }
}

@media screen and (orientation: landscape) {
  .player-container {
     //height : 8vmax;
      height : 70px;
   } /*
    .artist-name,
    .artist-song-name {
        font-size : 1.2vmax;
 } 

 .player-cover {
     width: 15vh;
 }*/
 .player-btn{
    margin-left: 2vh;     
 }
 
}
 
@media screen and (orientation: portrait) {
  .player-container {
     height : 75px;
  }
  /* 
 .artist-name,
 .artist-song-name {
    font-size : 1.5vmin;
 } */
 /*
 .player-cover {
     width: 15vw;
 }*/
 .player-btn{
    //  margin-left: 2vw;
 
 } 
}
 
div {
    padding:0px;
    margin:0px;
}

.round-button {
	//width: 5vw;
    //margin-top: '44px';
    display: inline-block;
@include vertical-align();
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:1px solid #cfdcec;
   
    background: #FF5722; 
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background:#FF5722;
}
 
.player-options {
    width : 20%; 
    height: inherit;
     display : inline-block;
}

.player-buttons {
   display : inline-block;
   width : 33vw; 
}

.progress-bar {
    z-index: 2;
    top: 0;
    left: -2;
    height: 6px;
    width: 100%;
}
.player-sub-container {
    display: flex; 
    height: 100%;
}

.vertical-align{
    @include vertical-align();
}
 

@media screen and (max-width: 600px) {
    .hidden-xs-down {
       display: none !important;
    } 
    .display-xs-down {
       display: block !important;
    }
}

footer iframe {
    display: none;
}