@import 'base';
@import '~normalize.css/normalize';

.container {
    height: 100%;
    width: 100%;
    margin: 0;
}

.tabs .tab {
    
   cursor: pointer;
   color: $wild-sand !important;
  
   &.active {
    background-color: lighten($nile-blue, 6%) !important;
   }

   &:hover {
     background-color: lighten($nile-blue, 15%) !important;
   }
}

.row {
   background-color: $nile-blue;
}

.tabs { 
   background-color: $nile-blue;
} 

.swipableviews {
   background-color: $bone; 
}
