@import 'base';
@import '~normalize.css/normalize';

.card {
    margin: 3vh 1vw 0 1vw;
    background-color: $wild-sand;
}

table td:first-child,
table th:first-child {
    padding-left: 16px;
}
/*
table.highlight>tbody>tr:hover {
    background-color: lighten($blue-bayoux, 50%);
}*/

.player-style {
    float:'right',
}

@media screen and (max-width: 544px) {
    .hidden-xs-down {
       display: none;
    } 
    .display-xs-down {
       display: block !important;
    }
}
