.songs-list{
     width: 100%;   
     height: 80%;
     margin:auto;
     background-color: #f7f7f7;
}

.player-style {
    float:'right',
}

@media screen and (max-width: 544px) {
    .hidden-xs-down {
       display: none;
    } 
    .display-xs-down {
       display: block !important;
    }
}
