 .song-item {
    width: 100%;
    list-style-type:none;
    background-color: #F1F1F2;
    color: #1995AD;
    display: inline-block;
    
    &.active-song { background-color: #e4e4e6 ; }   
    &:hover { background-color: #d7d7d9 ; } 
     
}

.artists,
.song-name,
.duration {
    font-family: 'Oswald', sans-serif;  
}

.duration {
    margin-left: 2%;
    margin-right: 2%; 
}

.artists,
.song-name  {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
} 
 
.player-cover1 {
    float : left;
    position: relative;
    height: 100%;
    width: 10vw;
    margin-right: 2vw; 
    background-position: top center;
    background-size: cover;
    transition: height .4s;
}
  
@media screen and (orientation: landscape) {
  .song-item {
     height : 5vw;
   } 
  .artists,
  .song-name,
  .duration {  
     font-size : 1.4vw;
 } 
}

@media screen and (orientation: portrait) {
  .song-item {
     height : 6vh;
  } 
 .artists,
 .song-name, 
 .duration { 
    font-size : 1.5vmin;
 }  
}