@import 'base';
@import '~normalize.css/normalize';
  
.song-item {
    font-size: 14px;
    color: $black-pearl;
}

.album-cover-container {
    display: inline-block;
    vertical-align: middle;
}

.album-cover {
    height: 40px;
    width: 40px;
    margin-right: 2vh;
}

.song-metadata-mobile {
//    max-width: 75%;
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 70px); //new

    .song-title {
        display : inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width : calc(100vw - 90px);
    }

    .artists-duration {
        font-size: 10px;

        .song-artist {
        float: left;
        max-width: calc(100% - 35px);
        display: inline-block;
        }

        .song-time {
        float: left;
        }
    }
}

@media screen and (max-width: 544px) {
    .hidden-xs-down {
       display: none;
    } 
    .display-xs-down {
       display: block !important;
    }
}

.div-hidden {
    display: none;
}
.over-flow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}


td {
  max-width: 100vw; //new
}

