@import 'base';
@import '~normalize.css/normalize';
 
.songs-list{
     width: 100%;   
     height: 80%;
     margin:auto;
     background-color: #f7f7f7;
}


table.highlight>tbody>tr:hover {
    background-color: darken($wild-sand, 10%);
}
/*
table.striped>tbody>tr:nth-child(odd)
{
  background-color: darken($wild-sand, 7%);
}*/

.player-style {
    float:'right',
}

@media screen and (max-width: 544px) {
    .hidden-xs-down {
       display: none;
    } 
    .display-xs-down {
       display: block !important;
    }
}
