@import 'base';
@import '~normalize.css/normalize';

.container {
    height: 100%;
    width: 100%;
    margin: 0;
}

.swipableviews {
   background-color: $bone; 
}

.btn-download {
    position : fixed;
    float : right;
    right : 30px;
    bottom : 120px;
    background-color: $nile-blue !important;
    /*
    &:active {
        background-color: $nile-blue;
    }
    &:hover {
         background-color: lighten($nile-blue, 30);
         transition: background-color 400ms linear;
    }*//*
    &:active {
        background-color: $nile-blue;
//        background-color: lighten($nile-blue, 30);
        transition: background-color 400ms linear;
    }*/
}

.btn-floating {
    background-color: $nile-blue;
}
.btn-download i {
  color: $wild-sand;
}
